/* styles/globals.css */
* {
  font-family: "Poppins";
}

 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000728;
  color: white;

} 

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.header {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.card h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.card label {
  display: block;
  margin-bottom: 10px;
}

.card input,
.card select,
.card button {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.card button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.card button:hover {
  background-color: #0056b3;
}

.result {
  margin-top: 20px;
  padding: 10px;
  background: #f1f1f1;
  border-radius: 4px;
}

.currency-table {
  max-width: 600px;
  width: 80%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.currency-table h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.currency-table table {
  width: 100%;
  border-collapse: collapse;
}

.currency-table th,
.currency-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.currency-table th {
  background-color: #f4f4f9;
}






/* login page */
 

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
   height: 50vh; 

}

.login-box {
  background-color: #b0c5b7;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.logo {
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  background-color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #333;
}

.footer {
  margin-top: 20px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
} 